a:hover{cursor:pointer;}
#console
	{
	height: 120px;        
	margin: 1em 0 0 0;
	border:1px solid gray;
	background-color:black;
	color:#AAA;
	font-size:0.8em;
	overflow:scroll
	}
#entete{
	display:block;
        text-align:center;
	}
#fun	{
/*	float:right;*/
	text-align:center;
	right:0;
	}

#listes{
        position:relative;
	margin: 0 auto;
	height:7em;width:100%;
	border:3px solid yellow;
	overflow-y:auto;
	overflow-x:hidden;
	}
.section{
	text-align:center;
	font-weight:bold;
	}
.section span{
	cursor:pointer;
	font-style:italic;	
	font-weight:normal;
        }
.section span:hover{
        color:#FFF;
        text-decoration:underline;
	}


#sallesBox{
	position:absolute;
	top:5px; left:5px;
        height:9m;width:40%;
        }

#salleListe, table {margin:auto;}
#salleListe{
	overflow-y:auto;
	overflow-x:hidden;
	max-height:7.5em;
	}
#confsBox{
        position:absolute;
        top:5px; right:5px;
        max-height:8m;width:60%;
	margin:0 auto;
	text-align:center;
        }
#confs{
        position:relative;
        margin:0 auto;
        text-align:center;
        }
#planSelect{
	width:25em;
	background-color:transparent;;
	}
.optionPagePartieTitre{
	background-color:#DE0;
        font-style:normal;
	font-weight:bold
	text-align:center;;
	}

.optionPageSelect{
	background-color:#D1F;
	font-style:italic;
	}

.optionPageNoSelect{
        background-color:#FFF;
        font-style:normal;
        }

#confFrame{
	position:relative;
	height:50em;
	width:100%;
	margin: 0 auto 0 auto;
	}
